<div class="row ">
    <!-- Base Style table start -->
    <div class="col-sm-12 ml-5">
      <div class="card">
        
        <div class="card-header">
        
          <h3>Articles List</h3>
          <small>Add Articles by name & image</small>
        </div>
        <div class="card-body table-border-style">
            <button type="button" class="btn btn-primary mb-2" data-bs-toggle="modal" data-bs-target="#exampleModalLive">Add Articles</button>
          <div class="table-responsive">
            <table id="base-style" class="table mt-3">
              <thead>
                <tr class="mt-4">
                  <th>Title</th>
                  <th>Category</th>
                  <th>Source</th>
                  <th>Published_at</th>
                  <th>Action</th>
                </tr>
              </thead>
              <tbody>
                <% articles.forEach(article => { %>
                <tr>
                  <a href="" title="<%= article.title %>">
                    <td class=""><%= truncateText(article.title, 50) %></td>
                  </a>
                  <td><%= article.category_name %></td>
                  <td><%= article.source %></td>
                  <td>
                    <%= moment(article.published_at).format('MMMM D, YYYY') %>
                    <br>
                    <%= moment(article.published_at).format('h:mm A') %>
                  </td>
                
                  
                  <td>
                    <a href="#" class="avtar avtar-xs btn-link-secondary">
                        <i class="ti ti-eye f-20"></i> 
                    </a>
                    <a href="#" class="avtar avtar-xs btn-link-secondary ">
                        <i class="ti ti-edit f-20"></i> </a>
                    <a href="#" class="avtar avtar-xs btn-link-secondary text-danger">
                        <i class="ti ti-trash f-20"></i>
                    </a>
                    </td>
                </tr>
                <% }); %>
              </tbody>
              
            </table>
          </div>
        </div>
      </div>
    </div>
</div>