<div class="row">
  <!-- Base Style table start -->
  <div class="col-sm-12 ml-5">
    <div class="card">
      <div class="card-header">
        <h3>Articles List</h3>
        <small>Add Articles by name & image</small>
      </div>
      <div class="card-body table-border-style">
        <button
          type="button"
          class="btn btn-primary mb-2"
          data-bs-toggle="modal"
          data-bs-target="#exampleModalLive"
        >
          Add Articles
        </button>
        <div class="table-responsive">
          <table id="base-style" class="table mt-3">
            <thead>
              <tr class="mt-4">
                <th>Title</th>
                <th>Category</th>
                <th>Source</th>
                <th>Published_at</th>
                <th>Action</th>
              </tr>
            </thead>
            <tbody>
              <% articles.forEach(article => { %>
              <tr>
                <a href="" title="<%= article.title %>">
                  <td class=""><%= truncateText(article.title, 50) %></td>
                </a>
                <td><%= article.category_name %></td>
                <td><%= article.source %></td>
                <td>
                  <%= moment(article.published_at).format('MMMM D, YYYY') %>
                  <br />
                  <%= moment(article.published_at).format('h:mm A') %>
                </td>

                <td>
                  <a href="#" class="avtar avtar-xs btn-link-secondary">
                    <i class="ti ti-eye f-20"></i>
                  </a>
                  <a
                    href="#"
                    class="avtar avtar-xs btn-link-secondary"
                    data-bs-toggle="modal"
                    data-bs-target="#EditArticle"
                  >
                    <i class="ti ti-edit f-20"></i>
                  </a>
                  <a
                    href="#"
                    data-bs-toggle="modal"
                    data-bs-target="#ViewArticle"
                    class="avtar avtar-xs btn-link-secondary text-danger"
                  >
                    <i class="ti ti-trash f-20"></i>
                  </a>
                </td>
              </tr>
              <% }); %>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Edit Article -->
<div class="modal fade" id="EditArticle" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLiveLabel">Edit Article</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" ></button>
      </div>
      <div class="modal-body">
        <div class="card-body">
          <form action="/edit_article" method="POST" id="editarticle" enctype="multipart/form-data" >
            <div class="row">
              <div class="mb-3 col-md-6">
                <label for="title" class="custom_font fw-bold mb-1">Title</label>
                <input type="text" id="title" name="title" class="form-control" id="floatingInput" placeholder="Enter name" />
              </div>
              <div class="mb-3 col-md-6">
                <label for="image" class="custom_font fw-bold mb-1">Image</label>
                <input type="file" name="image_url" id="image_url" class="form-control" id="floatingInput1" />
              </div>
              <div class="mb-3 col-md-6">
                <label for="image" class="custom_font fw-bold mb-1">Category</label>
                <select name="category_id" id="category_id" class="form-control">
                  <option value="">Select</option>
                  <option value="test">test</option>
                </select>
              </div>
              <div class="mb-3 col-md-6">
                <label for="source" class="custom_font fw-bold mb-1">Source</label>
                <input type="text" id="source" name="source" class="form-control" id="floatingInput" placeholder="Enter name" />
              </div>
              <div class="mb-3 col-md-12">
                <label for="source" class="custom_font fw-bold mb-1">Content</label>
                <textarea type="text" id="content" name="content" class="form-control" rows="4" id="floatingInput" placeholder="Enter content"></textarea>
              </div>
            </div>
            <div class="modal-footer">
              <button
                type="button"
                class="btn btn-secondary"
                data-bs-dismiss="modal"
              >
                Close
              </button>
              <button type="submit" class="btn btn-success">
                Save changes
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>

<% articles.forEach(article => { %>
<!-- View Article -->
<div class="modal fade" id="ViewArticle" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="ViewArticle<%= article.id %>">Edit Article</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" ></button>
      </div>
      <div class="modal-body">
        <article class="post type-post single-post py-4 lg:py-6 xl:py-9">
          <div class="container max-w-xl">
              <div class="post-header">
                  <div class="panel vstack gap-4 md:gap-6 xl:gap-8 text-center">
                      <div class="panel vstack items-center max-w-400px sm:max-w-500px xl:max-w-md mx-auto gap-2 md:gap-3">
                          <h4 class="h4 sm:h2 lg:h1 xl:display-6"><%= article.title %></h4>
                          <ul class="post-share-icons nav-x gap-1 dark:text-white">
                              <li>
                                  <a class="btn btn-md p-0 border-gray-900 border-opacity-15 w-32px lg:w-48px h-32px lg:h-48px text-dark dark:text-white dark:border-white hover:bg-primary hover:border-primary hover:text-white rounded-circle" href="#"><i class="unicon-logo-facebook icon-1"></i></a>
                              </li>
                              <li>
                                  <a class="btn btn-md p-0 border-gray-900 border-opacity-15 w-32px lg:w-48px h-32px lg:h-48px text-dark dark:text-white dark:border-white hover:bg-primary hover:border-primary hover:text-white rounded-circle" href="#"><i class="unicon-logo-x-filled icon-1"></i></a>
                              </li>
                              <li>
                                  <a class="btn btn-md p-0 border-gray-900 border-opacity-15 w-32px lg:w-48px h-32px lg:h-48px text-dark dark:text-white dark:border-white hover:bg-primary hover:border-primary hover:text-white rounded-circle" href="#"><i class="unicon-logo-linkedin icon-1"></i></a>
                              </li>
                          
                              <li>
                                  <a class="btn btn-md p-0 border-gray-900 border-opacity-15 w-32px lg:w-48px h-32px lg:h-48px text-dark dark:text-white dark:border-white hover:bg-primary hover:border-primary hover:text-white rounded-circle" href="#"><i class="unicon-link icon-1"></i></a>
                              </li>
                          </ul>
                      </div>
                      <figure class="featured-image m-0">
                          <figure class="featured-image m-0 ratio ratio-2x1 rounded uc-transition-toggle overflow-hidden bg-gray-25 dark:bg-gray-800">
                              <img class="media-cover image uc-transition-scale-up uc-transition-opaque" src="../assets/images/common/img-fallback.png" data-src="../assets/images/demo-two/posts/post-full.jpg" alt="<%= article.title %>" data-uc-img="loading: lazy">
                          </figure>
                      </figure>
                  </div>
              </div>
          </div>
          <div class="panel mt-4 lg:mt-6 xl:mt-9">
              <div class="container max-w-lg">
                  <div class="post-content panel fs-6 md:fs-5" data-uc-lightbox="animation: scale">
                      <!-- <p class="mt-3">I talked to climbers, Olympic mountain bikers, musicians, and award-winning chefs about what exactly makes their hometowns so special and fun.</p> -->
                      <div class="post-footer panel vstack sm:hstack gap-0 justify-between justifybetween  ">
                          
                          <ul class="post-share-icons nav-x gap-narrow">
                              <!-- <li class="me-1"><span class="text-black dark:text-white">Share:</span></li> -->
                              <li>
                                  <a class="btn btn-md btn-outline-gray-100 p-0 w-32px lg:w-40px h-32px lg:h-40px text-dark dark:text-white dark:border-gray-600 hover:bg-primary mr-2 hover:border-primary hover:text-white rounded-circle" href="#"><i class="fas fa-calendar-alt icon-1"></i>
                                  </a>
                                  <%= moment(article.published_at).format('MMMM D, YYYY') %>
                              </li>
                              <li>
                                  <a class="btn btn-md btn-outline-gray-100 p-0 w-32px lg:w-40px h-32px lg:h-40px text-dark dark:text-white dark:border-gray-600 hover:bg-primary hover:border-primary hover:text-white rounded-circle" href="#"><i class="fas fa-tags icon-1"></i> <!-- Tags Icon -->
                                  </a>
                                  <%= article.category_name %>
                              </li>
                              
                          </ul>
                      </div>
                      <div class="panel mt-3">
                          <a href="#">
      
                              <figure class="float-end ms-3 mb-1">
                                  <figure class="featured-image m-0 ratio ratio-1x1 sm:w-300px rounded uc-transition-toggle overflow-hidden bg-gray-25 dark:bg-gray-800">
                                      <img class="media-cover image uc-transition-scale-up uc-transition-opaque" src="<%= article.image_url %>" data-src="<%= article.image_url %>" alt="<%= article.source %>" data-uc-img="loading: lazy">
                                      <a href="<%= article.url %>" target="_blank" class="position-cover" data-caption="Source: <%= article.source %>"></a>
                                  </figure>
                                  
                                  
                                  <p class="fs-7 mt-1 text-center fw-bold text-dark-400 dark:text-gray-200"><a href="<%= article.url %>" target="_blank">Source By: <%- article.source %></a></p>
                              </figure>
                          </a>
                          
                          <p class="post-content fs-6 md:fs-5 text-justify"><%= article.content %></p>
      
                          
                      </div>
                     
                  </div>
                  <div class="post-footer panel vstack sm:hstack gap-3 justify-between justifybetween border-top py-4 mt-4 xl:py-9 xl:mt-9">
                      <ul class="nav-x gap-narrow text-primary">
                          <li><span class="text-black dark:text-white me-narrow">Tags:</span></li>
                          <li>
                              <a href="#" class="uc-link gap-0 dark:text-white">Food <span class="text-black dark:text-white">,</span></a>
                          </li>
                          <li>
                              <a href="#" class="uc-link gap-0 dark:text-white">Life Style <span class="text-black dark:text-white">,</span></a>
                          </li>
                          <li>
                              <a href="#" class="uc-link gap-0 dark:text-white">Tech <span class="text-black dark:text-white">,</span></a>
                          </li>
                          <li><a href="#" class="uc-link gap-0 dark:text-white">Travel</a></li>
                      </ul>
                      <ul class="post-share-icons nav-x gap-narrow">
                          <li class="me-1"><span class="text-black dark:text-white">Share:</span></li>
                          <li>
                              <a class="btn btn-md btn-outline-gray-100 p-0 w-32px lg:w-40px h-32px lg:h-40px text-dark dark:text-white dark:border-gray-600 hover:bg-primary hover:border-primary hover:text-white rounded-circle" href="#"><i class="unicon-logo-facebook icon-1"></i></a>
                          </li>
                          <li>
                              <a class="btn btn-md btn-outline-gray-100 p-0 w-32px lg:w-40px h-32px lg:h-40px text-dark dark:text-white dark:border-gray-600 hover:bg-primary hover:border-primary hover:text-white rounded-circle" href="#"><i class="unicon-logo-x-filled icon-1"></i></a>
                          </li>
                          <li>
                              <a class="btn btn-md btn-outline-gray-100 p-0 w-32px lg:w-40px h-32px lg:h-40px text-dark dark:text-white dark:border-gray-600 hover:bg-primary hover:border-primary hover:text-white rounded-circle" href="#"><i class="unicon-email icon-1"></i></a>
                          </li>
                          <li>
                              <a class="btn btn-md btn-outline-gray-100 p-0 w-32px lg:w-40px h-32px lg:h-40px text-dark dark:text-white dark:border-gray-600 hover:bg-primary hover:border-primary hover:text-white rounded-circle" href="#"><i class="unicon-link icon-1"></i></a>
                          </li>
                      </ul>
                  </div>
                  
              </div>
          </div>
      </article>
      </div>
    </div>
  </div>
</div>

<% }); %>

