
<div class="row ">
    <!-- Base Style table start -->
    <div class="col-sm-12 ml-5">
      <div class="card">
        
        <div class="card-header">
        
          <h3>Category List</h3>
          <small>Add categories by name & image</small>
        </div>
        <div class="card-body table-border-style">
            <button type="button" class="btn btn-primary mb-2" data-bs-toggle="modal" data-bs-target="#AddCategory">Add Category</button>
          <div class="table-responsive table-border">
            <table id="base-style" class="table mt-3">
              <thead>
                <tr class="mt-4">
                  <th>Name</th>
                  <th>Image</th>
                  <th>Action</th>
                </tr>
              </thead>
              <tbody>
                <% categories.forEach(category => { %>
                <tr>
                  <td><%= category.name %></td>
                  <td>
                    <% if (category.image_url) { %>
                    <img src="<%= category.image_url %>" alt="<%= category.name %>" width="50">
                    <% } else { %>
                        No Image
                    <% } %>
                  <td>
                    
                    <a href="#" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#editCategoryModal-<%= category.id %>">
                        <i class="ti ti-edit f-20"></i> </a>
                    <a href="#" class="btn btn-danger btn-link-secondary text-danger">
                        <i class="ti ti-trash f-20"></i>
                    </a>
                    </td>
                </tr>
                <% }); %>
              </tbody>
              
            </table>
          </div>
        </div>
      </div>
    </div>
</div>

<div id="AddCategory" class="modal fade" tabindex="-1" aria-labelledby="exampleModalLiveLabel" aria-hidden="true" style="display: none;">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLiveLabel">Add Category</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="card-body">
                    <form action="/add_category" method="POST" id="addcategory" enctype="multipart/form-data">
                        <div class="mb-3">
                          <input
                            type="text"
                            id="name"
                            name="name"
                            class="form-control"
                            id="floatingInput"
                            placeholder="Enter name"
                          />
                        </div>
                        <div class="mb-3">
                          <input
                            type="file"
                            name="image_url"
                            id="image_url"
                            class="form-control"
                            id="floatingInput1"
                            placeholder="Password"
                          />
                        </div>
                        <div class="modal-footer">
                          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button> 
                          <button type="submit" class="btn btn-success">Save changes</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- EDit Category -->
<% categories.forEach(category => { %>
<div id="editCategoryModal-<%= category.id %>" class="modal fade" tabindex="-1" aria-labelledby="editCategoryLabel-<%= category.id %>" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="editCategoryLabel-<%= category.id %>">Edit Category</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="card-body">
                    <!-- Edit Category Form -->
                    <form action="/edit_category/<%= category.id %>" method="POST" enctype="multipart/form-data">
                        <div class="mb-3">
                            <input
                                type="text"
                                name="name"
                                class="form-control"
                                placeholder="Enter name"
                                value="<%= category.name %>"  
                            />
                        </div>
                        <div class="mb-3">
                            <input
                                type="file"
                                name="image_url"
                                class="form-control"
                                value="<%= category.name %>"
                            />
                            <!-- Show current image if it exists -->
                            <% if (category.image_url) { %>
                                <img src="<%= category.image_url %>" alt="<%= category.name %>" class="mt-3" height="50">
                            <% } %>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                            <button type="submit" class="btn btn-success">Save changes</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<% }) %>

