<!DOCTYPE html>
<html lang="zxx" dir="ltr">
	

    <head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title><%= title %></title>
		<meta name="description" content="A comprehensive news platform to access diverse content efficiently, with clear and balance attribution to the sources.">
		<meta name="keywords" content="A comprehensive news platform to access diverse content efficiently, with clear and balance attribution to the sources.">
		<link rel="canonical" href="https://unistudio.co/html/LibNews Central">
		<meta name="theme-color" content="#2757fd">

		<!-- Open Graph Tags -->
		<meta property="og:locale" content="en_US" />
		<meta property="og:type" content="website" />
		<meta property="og:title" content="News5" />
		<meta
			property="og:description"
			content="A comprehensive news platform to access diverse content efficiently, with clear and balance attribution to the sources."
		/>
		<meta property="og:url" content="https://unistudio.co/html/news5/" />
		<meta property="og:site_name" content="News5" />
		<meta
			property="og:image"
			content="../../../unistudio.co/html/news5/assets/images/common/seo-image.html"
		/>
		<meta property="og:image:width" content="1180" />
		<meta property="og:image:height" content="600" />
		<meta property="og:image:type" content="image/png" />

		<!-- Open Graph Tags -->
		<meta property="og:locale" content="en_US">
		<meta property="og:type" content="website">
		<meta property="og:title" content="LibNews Central">
		<meta property="og:description" content="A comprehensive news platform to access diverse content efficiently, with clear and balance attribution to the sources.">
		<meta property="og:url" content="https://unistudio.co/html/LibNews Central/">
		<meta property="og:site_name" content="LibNews Central">
		<meta property="og:image" content="../assets/images/demo-two/common/libnews-light.svg">
		<meta property="og:image:width" content="1180">
		<meta property="og:image:height" content="600">
		<meta property="og:image:type" content="image/png">

		<!-- Twitter Card Tags -->
		<meta name="twitter:card" content="summary_large_image" />
		<meta name="twitter:title" content="News5" />
		<meta
			name="twitter:description"
			content="A comprehensive news platform to access diverse content efficiently, with clear and balance attribution to the sources."
		/>
		<meta
			name="twitter:image"
			content="../../../unistudio.co/html/news5/assets/images/common/seo-image.html"
		/>
		<!-- Twitter Card Tags -->
		<meta name="twitter:card" content="summary_large_image">
		<meta name="twitter:title" content="LibNews Central">
		<meta name="twitter:description" content="A comprehensive news platform to access diverse content efficiently, with clear and balance attribution to the sources.">
		<meta name="twitter:image" content="../../../unistudio.co/html/LibNews Central/assets/images/common/seo-image.html">
        <link rel="icon" href="../assets/images/demo-two/common/libnews-light.svg" type="image/x-icon" />

		<link rel="canonical" href="https://unistudio.co/html/news5/" />
		<link rel="canonical" href="https://unistudio.co/html/LibNews Central/">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">


		<!-- preload head styles -->
		<link rel="preload" href="../assets/css/unicons.min.css" as="style" />
		<link rel="preload" href="../assets/css/swiper-bundle.min.css" as="style" />


        <!-- Manifest -->
        <link rel="manifest" href="/manifest.json">
        <!-- Theme color for the PWA -->
        <meta name="theme-color" content="#2196f3">
        
		<!-- preload footer scripts -->
		<link rel="preload" href="../assets/js/libs/jquery.min.js" as="script" />
		<link rel="preload" href="../assets/js/libs/scrollmagic.min.js" as="script" />
		<link rel="preload" href="../assets/js/libs/swiper-bundle.min.js" as="script" />
		<link rel="preload" href="../assets/js/libs/anime.min.js" as="script" />
		<link rel="preload" href="../assets/js/helpers/data-attr-helper.js" as="script" />
		<link rel="preload" href="../assets/js/helpers/swiper-helper.js" as="script" />
		<link rel="preload" href="../assets/js/helpers/anime-helper.js" as="script" />
		<link rel="preload" href="../assets/js/helpers/anime-helper-defined-timelines.js" as="script" />
		<link rel="preload" href="../assets/js/uikit-components-bs.js" as="script" />
		<link rel="preload" href="../assets/js/app.js" as="script" />

		<!-- app head for bootstrap core -->
		<script src="../assets/js/app-head-bs.js"></script>

		<!-- include uni-core components -->
		<link rel="stylesheet" href="../assets/js/uni-core/css/uni-core.min.css" />

		<!-- include styles -->
		<link rel="stylesheet" href="../assets/css/unicons.min.css" />
		<link rel="stylesheet" href="../assets/css/prettify.min.css" />
		<link rel="stylesheet" href="../assets/css/swiper-bundle.min.css" />

		<!-- include main style -->
		<link rel="stylesheet" href="../assets/css/theme/demo-two.min.css" />

		<!-- include scripts -->
		<script src="../assets/js/uni-core/js/uni-core-bundle.min.js"></script>
    </head>


    <body class="uni-body panel bg-white text-gray-900 dark:bg-black dark:text-gray-200 overflow-x-hidden">

        <!--  Search modal -->
        <div id="uc-search-modal" class="uc-modal-full uc-modal" data-uc-modal="overlay: true">
            <div class="uc-modal-dialog d-flex justify-center bg-white text-dark dark:bg-gray-900 dark:text-white" data-uc-height-viewport="">
                <button class="uc-modal-close-default p-0 icon-3 btn border-0 dark:text-white dark:text-opacity-50 hover:text-primary hover:rotate-90 duration-150 transition-all" type="button">
                    <i class="unicon-close"></i>
                </button>
                <div class="panel w-100 sm:w-500px px-2 py-10">
                    <h3 class="h1 text-center">Search</h3>
                    <!-- Updated search form to point to the search route -->
                    <form class="hstack gap-1 mt-4 border-bottom p-narrow dark:border-gray-700" action="/search" method="GET">
                        <span class="d-inline-flex justify-center items-center w-24px sm:w-40 h-24px sm:h-40px opacity-50">
                            <i class="unicon-search icon-3"></i>
                        </span>
                        <!-- 'name' is 'q' which maps to the search query parameter -->
                        <input type="search" name="q" class="form-control-plaintext custom_font ms-1 fs-6 sm:fs-5 w-full dark:text-white" placeholder="Type your keyword..." aria-label="Search" autofocus>
                    </form>
                </div>
            </div>
        </div>


		<!--  Menu panel -->
		<%- include('menu') %>
		<!-- End menu -->

        <!--  Favorites modal -->
        <div id="uc-favorites-modal" data-uc-modal="overlay: true">
            <div class="uc-modal-dialog custom_font lg:max-w-500px bg-white text-dark dark:bg-gray-800 dark:text-white rounded">
                <button class="uc-modal-close-default p-0 icon-3 btn border-0 dark:text-white dark:text-opacity-50 hover:text-primary hover:rotate-90 duration-150 transition-all" type="button">
                    <i class="unicon-close"></i>
                </button>
                <div class="panel vstack justify-center items-center gap-2 text-center px-3 py-8">
                    <i class="icon icon-4 unicon-bookmark mb-2 text-primary dark:text-white"></i>
                    <h2 class="h4 md:h3 m-0">Saved articles</h2>
                    <p class="fs-5 opacity-60">You have not yet added any article to your bookmarks!</p>
                    <a href="/" class="btn btn-sm btn-primary mt-2 uc-modal-close">Browse articles</a>
                </div>
            </div>
        </div>

		<!--  Newsletter modal -->
		<div id="uc-newsletter-modal" data-uc-modal="overlay: true">
			<div
				class="uc-modal-dialog custom_font w-800px bg-white text-dark dark:bg-gray-900 dark:text-white rounded overflow-hidden"
			>
				<button
					class="uc-modal-close-default p-0 icon-3 btn border-0 dark:text-white dark:text-opacity-50 hover:text-primary hover:rotate-90 duration-150 transition-all"
					type="button"
				>
					<i class="unicon-close"></i>
				</button>
				<div class="row md:child-cols-6 col-match g-0">
					<div class="d-none md:d-flex">
						<div class="position-relative w-100 ratio-1x1">
							<img
								class="uc-transition-scale-up uc-transition-opaque media-cover"
								src="../assets/images/common/liberia image 9.jpg"
								alt="Newsletter image"
							/>
						</div>
					</div>
					<div>
						<div class="panel vstack self-center p-4 md:py-8 text-center">
							<h3 class="h3 md:h2">Subscribe to the Newsletter</h3>
							<p class="ft-tertiary">
								Join 10k+ people to get notified about new posts, news and tips.
							</p>
							<div class="panel mt-2 lg:mt-4">
								<form class="vstack gap-1">
									<input
										type="email"
										class="form-control form-control-sm w-full fs-6 bg-white dark:border-white dark:border-gray-700 dark:text-dark"
										placeholder="Your email address.."
									/>
									<button type="submit" class="btn btn-sm btn-primary">
										Sign up
									</button>
								</form>
								<p class="fs-7 mt-2">Do not worry we don't spam!</p>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>

		<!--  Account modal -->
        <div id="uc-account-modal" data-uc-modal="overlay: true">
            <div class="uc-modal-dialog custom_font lg:max-w-500px bg-white text-dark dark:bg-gray-800 dark:text-white rounded">
                <button class="uc-modal-close-default p-0 icon-3 btn border-0 dark:text-white dark:text-opacity-50 hover:text-primary hover:rotate-90 duration-150 transition-all" type="button">
                    <i class="unicon-close"></i>
                </button>
                <div class="panel vstack gap-2 md:gap-4 text-center">
                    <ul class="account-tabs-nav nav-x justify-center h6 py-2 border-bottom d-none" data-uc-switcher="animation: uc-animation-slide-bottom-small, uc-animation-slide-top-small">
                        <li><a href="#">Sign in</a></li>
                        <li><a href="#">Sign up</a></li>
                        <li><a href="#">Reset password</a></li>
                        <li><a href="#">Terms of use</a></li>
                    </ul>
                    <div class="account-tabs-content uc-switcher px-3 lg:px-4 py-4 lg:py-8 m-0 lg:mx-auto vstack justify-center items-center">
                        <div class="w-100">
                            <div class="panel vstack justify-center items-center gap-2 sm:gap-4 text-center">
                                <h4 class="h5 lg:h4 m-0">Log in</h4>
                                <div class="panel vstack gap-2 w-100 sm:w-350px mx-auto">
                                    <form class="vstack gap-2">
                                        <input class="form-control form-control-sm h-40px w-full fs-6 bg-white dark:bg-gray-800 dark:bg-gray-800 dark:border-white dark:border-opacity-15 dark:border-opacity-15" type="email" placeholder="Your email" required>
                                        <input class="form-control form-control-sm h-40px w-full fs-6 bg-white dark:bg-gray-800 dark:bg-gray-800 dark:border-white dark:border-opacity-15 dark:border-opacity-15" type="password" placeholder="Password" autocomplete="new-password" required>
                                        <div class="hstack justify-between items-start text-start">
                                            <div class="form-check text-start">
                                                <input class="form-check-input rounded-0 dark:bg-gray-800 dark:bg-gray-800 dark:border-white dark:border-opacity-15 dark:border-opacity-15" type="checkbox" id="inputCheckRemember">
                                                <label class="hstack justify-between form-check-label fs-7 sm:fs-6" for="inputCheckRemember">Remember me?</label>
                                            </div>
                                            <a href="#" class="uc-link fs-6" data-uc-switcher-item="2">Forgot password</a>
                                        </div>
                                        <button class="btn btn-primary btn-sm lg:mt-1" type="submit">Log in</button>
                                    </form>
                                    <div class="panel h-24px">
                                        <hr class="position-absolute top-50 start-50 translate-middle hr m-0 w-100">
                                        <span class="position-absolute top-50 start-50 translate-middle px-1 fs-7 text-uppercase bg-white dark:bg-gray-800">Or</span>
                                    </div>
                                    <div class="hstack gap-2">
                                        <a href="#google" class="hstack items-center justify-center flex-1 gap-1 h-40px text-none rounded border border-gray-900 dark:bg-gray-800 dark:border-white dark:border-opacity-15 border-opacity-10">
                                            <i class="icon icon-1 unicon-logo-google"></i>
                                        </a>
                                        <a href="#facebook" class="hstack items-center justify-center flex-1 gap-1 h-40px text-none rounded border border-gray-900 dark:bg-gray-800 dark:border-white dark:border-opacity-15 border-opacity-10">
                                            <i class="icon icon-1 unicon-logo-facebook"></i>
                                        </a>
                                        <a href="#twitter" class="hstack items-center justify-center flex-1 gap-1 h-40px text-none rounded border border-gray-900 dark:bg-gray-800 dark:border-white dark:border-opacity-15 border-opacity-10">
                                            <i class="icon icon-1 unicon-logo-x-filled"></i>
                                        </a>
                                    </div>
                                </div>
                                <p class="fs-7 sm:fs-6">Have no account yet? <a class="uc-link" href="#" data-uc-switcher-item="1">Sign up</a></p>
                            </div>
                        </div>
                        <div class="w-100">
                            <div class="panel vstack justify-center items-center gap-2 sm:gap-4 text-center">
                                <h4 class="h5 lg:h4 m-0">Create an account</h4>
                                <div class="panel vstack gap-2 w-100 sm:w-350px mx-auto">
                                    <form class="vstack gap-2">
                                        <input class="form-control form-control-sm h-40px w-full fs-6 bg-white dark:bg-gray-800 dark:border-white dark:border-opacity-15" type="text" placeholder="Full name" required>
                                        <input class="form-control form-control-sm h-40px w-full fs-6 bg-white dark:bg-gray-800 dark:border-white dark:border-opacity-15" type="email" placeholder="Your email" required>
                                        <input class="form-control form-control-sm h-40px w-full fs-6 bg-white dark:bg-gray-800 dark:border-white dark:border-opacity-15" type="password" placeholder="Password" autocomplete="new-password" required>
                                        <input class="form-control form-control-sm h-40px w-full fs-6 bg-white dark:bg-gray-800 dark:border-white dark:border-opacity-15" type="password" placeholder="Re-enter Password" autocomplete="new-password" required>
                                        <div class="hstack text-start">
                                            <div class="form-check text-start">
                                                <input id="input_checkbox_accept_terms" class="form-check-input rounded-0 dark:bg-gray-800 dark:border-white dark:border-opacity-15" type="checkbox" required>
                                                <label for="input_checkbox_accept_terms" class="hstack justify-between form-check-label fs-7 sm:fs-6">I read and accept the <a href="#" class="uc-link ms-narrow" data-uc-switcher-item="3">terms of use</a>. </label>
                                            </div>
                                        </div>
                                        <button class="btn btn-primary btn-sm lg:mt-1" type="submit">Sign up</button>
                                    </form>
                                    <div class="panel h-24px">
                                        <hr class="position-absolute top-50 start-50 translate-middle hr m-0 w-100">
                                        <span class="position-absolute top-50 start-50 translate-middle px-1 fs-7 text-uppercase bg-white dark:bg-gray-800">Or</span>
                                    </div>
                                    <div class="hstack gap-2">
                                        <a href="#google" class="hstack items-center justify-center flex-1 gap-1 h-40px text-none rounded border border-gray-900 dark:bg-gray-800 dark:border-white dark:border-opacity-15 border-opacity-10">
                                            <i class="icon icon-1 unicon-logo-google"></i>
                                        </a>
                                        <a href="#facebook" class="hstack items-center justify-center flex-1 gap-1 h-40px text-none rounded border border-gray-900 dark:bg-gray-800 dark:border-white dark:border-opacity-15 border-opacity-10">
                                            <i class="icon icon-1 unicon-logo-facebook"></i>
                                        </a>
                                        <a href="#twitter" class="hstack items-center justify-center flex-1 gap-1 h-40px text-none rounded border border-gray-900 dark:bg-gray-800 dark:border-white dark:border-opacity-15 border-opacity-10">
                                            <i class="icon icon-1 unicon-logo-x-filled"></i>
                                        </a>
                                    </div>
                                </div>
                                <p class="fs-7 sm:fs-6">Already have an account? <a class="uc-link" href="#" data-uc-switcher-item="0">Log in</a></p>
                            </div>
                        </div>
                        <div class="w-100">
                            <div class="panel vstack justify-center items-center gap-2 sm:gap-4 text-center">
                                <h4 class="h5 lg:h4 m-0">Reset password</h4>
                                <div class="panel w-100 sm:w-350px">
                                    <form class="vstack gap-2">
                                        <input class="form-control form-control-sm h-40px w-full fs-6 bg-white dark:bg-gray-800 dark:border-white dark:border-opacity-15" type="email" placeholder="Your email" required>
                                        <div class="form-check text-start">
                                            <input class="form-check-input rounded-0 dark:bg-gray-800 dark:border-white dark:border-opacity-15" type="checkbox" id="inputCheckVerify" required>
                                            <label class="form-check-label fs-7 sm:fs-6" for="inputCheckVerify"> <span>I'm not a robot</span>. </label>
                                        </div>
                                        <button class="btn btn-primary btn-sm lg:mt-1" type="submit">Reset a password</button>
                                    </form>
                                </div>
                                <p class="fs-7 sm:fs-6 mt-2 sm:m-0">Remember your password? <a class="uc-link" href="#" data-uc-switcher-item="0">Log in</a></p>
                            </div>
                        </div>
                        <div class="w-100">
                            <div class="panel vstack justify-center items-center gap-2 sm:gap-4">
                                <h4 class="h5 lg:h4 m-0">Terms of use</h4>
                                <div class="page-content panel fs-6 text-start max-h-400px overflow-scroll">
                                    <p>Terms of use dolor sit amet consectetur, adipisicing elit. Recusandae provident ullam aperiam quo ad non corrupti sit vel quam repellat ipsa quod sed, repellendus adipisci, ducimus ea modi odio assumenda.</p>
                                    <h5 class="h6 md:h5 mt-3 mb-1">Disclaimers</h5>
                                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sequi, cum esse possimus officiis amet ea voluptatibus libero! Dolorum assumenda esse, deserunt ipsum ad iusto! Praesentium error nobis tenetur at, quis nostrum facere excepturi architecto totam.</p>
                                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Inventore, soluta alias eaque modi ipsum sint iusto fugiat vero velit rerum.</p>
                                    <h5 class="h6 md:h5 mt-3 mb-1">Limitation on Liability</h5>
                                    <p>Sequi, cum esse possimus officiis amet ea voluptatibus libero! Dolorum assumenda esse, deserunt ipsum ad iusto! Praesentium error nobis tenetur at, quis nostrum facere excepturi architecto totam.</p>
                                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Inventore, soluta alias eaque modi ipsum sint iusto fugiat vero velit rerum.</p>
                                    <h5 class="h6 md:h5 mt-3 mb-1">Copyright Policy</h5>
                                    <p>Dolor sit amet consectetur adipisicing elit. Sequi, cum esse possimus officiis amet ea voluptatibus libero! Dolorum assumenda esse, deserunt ipsum ad iusto! Praesentium error nobis tenetur at, quis nostrum facere excepturi architecto totam.</p>
                                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Inventore, soluta alias eaque modi ipsum sint iusto fugiat vero velit rerum.</p>
                                    <h5 class="h6 md:h5 mt-3 mb-1">General</h5>
                                    <p>Sit amet consectetur adipisicing elit. Sequi, cum esse possimus officiis amet ea voluptatibus libero! Dolorum assumenda esse, deserunt ipsum ad iusto! Praesentium error nobis tenetur at, quis nostrum facere excepturi architecto totam.</p>
                                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Inventore, soluta alias eaque modi ipsum sint iusto fugiat vero velit rerum.</p>
                                </div>
                                <p class="fs-7 sm:fs-6">Do you agree to our terms? <a class="uc-link" href="#" data-uc-switcher-item="1">Sign up</a></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>


		
		
        <!--  GDPR modal -->
        <div id="uc-gdpr-notification" class="uc-gdpr-notification uc-notification uc-notification-bottom-left lg:m-2">
            <div class="uc-notification-message custom_font">
                <a id="uc-close-gdpr-notification" class="uc-notification-close" data-uc-close></a>
                <h2 class="h5 ft-primary fw-bold -ls-1 m-0">GDPR Compliance</h2>
                <p class="fs-7 mt-1 mb-2">We use cookies to ensure you get the best experience on our website. By continuing to use our site, you accept our use of cookies, <a href="page-privacy.html" class="uc-link text-underline">Privacy Policy</a>, and <a href="page-terms.html" class="uc-link text-underline">Terms of Service</a>.</p>
                <button class="btn btn-sm btn-primary" id="uc-accept-gdpr">Accept</button>
            </div>
        </div>

		<!--  Bottom Actions Sticky -->
		<div class="backtotop-wrap position-fixed bottom-0 end-0 z-99 m-2 vstack">
			<div
				class="darkmode-trigger cstack w-40px h-40px rounded-circle text-none bg-gray-100 dark:bg-gray-700 dark:text-white"
				data-darkmode-toggle=""
			>
				<label class="switch">
                    <i class="icon icon-2 fw-medium unicon-light"></i>
					<span class="sr-only">Dark mode toggle</span>
					<input type="checkbox" />
					<span class="slider fs-5"></span>
				</label>
			</div>
			<a
				class="btn btn-sm bg-primary text-white w-40px h-40px rounded-circle"
				href="to_top.html"
				data-uc-backtotop
			>
				<i class="icon-2 unicon-chevron-up"></i>
			</a>
		</div>
        

        <!-- Header start -->
       <%- include('header') %> 
		<!-- Header end -->

		<!-- Wrapper start -->
		<div id="wrapper" class="wrap custom_font overflow-hidden-x">
			<%- body %>

			
			<!-- Section end -->
		</div>

		<!-- Wrapper end -->

        <!-- Footer start -->
		<%- include('footer') %> 

        

		<!-- Footer end -->

		<!-- include jquery & bootstrap JAVASCRIPT -->
		<%- include('script') %> 
		

		<script>
			// Schema toggle via URL
			const queryString = window.location.search;
			const urlParams = new URLSearchParams(queryString);
			const getSchema = urlParams.get("schema");
			if (getSchema === "dark") {
				setDarkMode(1);
			} else if (getSchema === "light") {
				setDarkMode(0);
			}
		</script>
	</body>

</html>