<!-- Wrapper start -->
<div id="wrapper" class="wrap overflow-hidden-x">

    <!-- Section start -->
    <div class="block-slider block-slider-miniposts panel swiper-parent uc-dark">
        <div class="swiper-main swiper" data-uc-swiper="connect: .swiper-thumbs; items: 1; autoplay: 5000; active: 1; gap: 0; dots: .swiper-pagination; disable-class: opacity-30; effect: fade; fade: true;">
            <div class="swiper-wrapper">
                <!-- swiper starts -->
                <% latestNews.forEach(article => { %>
                <div class="swiper-slide">
                    <article class="post type-post">
                        <figure hidden class="post-featured-image panel m-0">
                            <canvas class="h-300px sm:h-400px lg:h-500px"></canvas>
                            <% if (article.image_url) { %>
                            <img class="media-cover image" 
                            src="<%= article.image_url %>" 
                            alt="<%= article.title %>" 
                            data-uc-scrollspy="cls: uc-animation-kenburns; repeat: true">
                            <% } else { %>
                            <img class="media-cover image" src="../assets/images/common/img-fallback.png" alt="Hidden Gems: Underrated Travel Destinations Around the World" data-uc-scrollspy="cls: uc-animation-kenburns; repeat: true">
                            <% } %>
                            <a href="/articles_details/<%= article.id %>" class="position-cover"></a>
                        </figure>
                        <div class="featured-image bg-gray-30 dark:bg-gray-900">
                            <canvas class="min-h-300px lg:min-h-500px"></canvas>
                            <% if (article.image_url) { %>
                            <img class="media-cover image" 
                            src="<%= article.image_url %>" 
                            alt="<%= article.title %>" 
                            data-uc-scrollspy="cls: uc-animation-kenburns; repeat: true">
                            <% } else { %>
                            <img class="media-cover image" src="../assets/images/common/img-fallback.png" alt="Hidden Gems: Underrated Travel Destinations Around the World" data-uc-scrollspy="cls: uc-animation-kenburns; repeat: true">
                            <% } %>
                        </div>
                        <div class="d-block position-cover bg-gradient-to-r from-black to-transparent z-1 opacity-60"></div>
                        <div class="panel max-w-xl mx-auto px-2 z-3">
                            <div class="post-header panel position-absolute bottom-0 vstack justify-between gap-2 xl:gap-4 max-w-600px mb-4 xl:mb-8">
                                <div class="post-top hstack gap-narrow">
                                    <div class="post-category hstack gap-narrow fs-7 fw-bold h-24px px-1 rounded-1 shadow-xs bg-white text-primary">
                                        <a class="text-none" href="/articles_details/<%= article.id %>"><%- article.source %></a>
                                    </div>
                                </div>
                                <h3 class="post-title h4 lg:h3 xl:h2 m-0 text-truncate-2" data-swiper-parallax="-48">
                                    <a class="text-none" href="/articles_details/<%= article.id %>"><%- article.title %></a>
                                </h3>
                                <div>
                                    <div class="post-meta panel hstack justify-between fs-7 fw-medium text-gray-900 dark:text-white text-opacity-60 d-none md:d-flex">
                                        <div class="meta">
                                            <div class="hstack gap-2">
                                                <div>
                                                    <div class="post-author hstack gap-1">
                                                        <span>By</span>
                                                        <a href="/articles_details/<%= article.id %>" class="text-black dark:text-white text-none fw-bold"><%- article.source %></a>
                                                    </div>
                                                </div>
                                                <div>
                                                    <div class="post-date hstack gap-narrow">
                                                        <span><%= new Date(article.published_at).toLocaleDateString() %></span>
                                                    </div>
                                                </div>
                                                <div>
                                                    <a href="#post_comment" class="post-comments text-none hstack gap-narrow">
                                                        <i class="icon-narrow unicon-chat"></i>
                                                        <!-- <span>15</span> -->
                                                    </a>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="actions">
                                            <div class="hstack gap-1"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </article>
                </div>
                <% }) %>
                <!-- swiper ends -->
            </div>

            <!-- Add Arrows -->
            <div class="swiper-navigation position-cover panel max-w-xl mx-auto px-2 mt-2 xl:mt-8">
                <div class="hstack justify-end md:justify-start gap-1">
                    <div class="swiper-nav swiper-prev btn w-40px lg:w-48px h-40px lg:h-48px p-0 border-0 bg-white bg-opacity-30 hover:bg-primary hover:bg-opacity-100 text-white rounded-circle shadow-xs z-1">
                        <i class="unicon-chevron-left icon-1"></i>
                    </div>
                    <div class="swiper-nav swiper-next btn w-40px lg:w-48px h-40px lg:h-48px p-0 border-0 bg-white bg-opacity-30 hover:bg-primary hover:bg-opacity-100 text-white rounded-circle shadow-xs z-1">
                        <i class="unicon-chevron-right icon-1"></i>
                    </div>
                </div>
            </div>
        </div>
        <div class="position-absolute top-0 end-0 bottom-0 w-1/2 bg-gradient-to-l from-black to-transparent opacity-70 z-1 d-none lg:d-block"></div>
        <div class="slider-thumbs-wrap d-none lg:d-block">
            <div class="container container-2xl">
                <div class="panel">
                    <div class="swiper swiper-thumbs position-absolute end-0 bottom-0 max-h-300px max-w-300px mb-4 xl:mb-8 z-2" data-uc-swiper="items: 3; gap: 16; direction: vertical; mousewheel: true; freeMode: true;">
                        <div class="swiper-wrapper">
                            <!-- Swiper slides -->
                            <% latestNews.forEach(article => { %>
                            <div class="swiper-slide">
                                <article class="post type-post">
                                    <div class="post-header panel vstack justify-between gap-1 lg:gap-2">
                                        <div>
                                            <div class="post-meta panel hstack justify-between fs-7 fw-medium text-gray-900 dark:text-white text-opacity-60 d-none md:d-flex">
                                                <div class="meta">
                                                    <div class="hstack gap-2">
                                                        <div>
                                                            <div class="post-date hstack gap-narrow">
                                                                <span><%= new Date(article.published_at).toLocaleDateString() %></span>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="actions">
                                                    <div class="hstack gap-1"></div>
                                                </div>
                                            </div>
                                        </div>
                                        <h3 class="h6 m-0 text-truncate-2"><%= article.title %></h3>
                                    </div>
                                </article>
                            </div>
                            <% }) %>
                            <!-- Swiper slides ends -->

                            
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Section end -->

    <!-- Section start -->
    <div class="section panel overflow-hidden">
        <div class="section-outer panel pt-5 lg:pt-8">
            <div class="container max-w-xl">
                <div class="section-inner">
                    <!-- <a class="text-none" href="https://themeforest.net/user/reacthemes/portfolio" target="_blank" rel="nofollow">
                        <img class="d-none md:d-block" src="../assets/images/common/ad-slot.jpg" alt="Ad slot">
                        <img class="d-block md:d-none" src="../assets/images/common/ad-slot-mobile.jpg" alt="Ad slot">
                    </a> -->
                </div>
            </div>
        </div>
    </div>

    <!-- Section start -->

    <!-- Section Top News start -->
    <div class="section panel overflow-hidden">
        <div class="section-outer panel py-5 lg:py-8">
            <div class="container max-w-xl">
                <div class="section-inner">
                    <div class="block-layout grid-layout vstack gap-3 lg:gap-4 panel overflow-hidden">
                        <% if (latestNews.length > 0) { %>

                        <div class="block-header panel border-top pt-1">
                            <h2 class="h4 xl:h3 -ls-1 xl:-ls-2 m-0 text-inherit hstack gap-1">
                                <span class="panel d-inline-block bg-primary w-8px h-8px translate-y-px"></span>
                                <a class="text-none hover:text-primary duration-150" href="/articles">Top News</a>
                            </h2>
                        </div>
                        <div class="block-content">
                            <div class="panel row child-cols-12 md:child-cols gy-4 md:gx-3 xl:gx-4">
                                
                                <div class="col-12 md:col-6 lg:col-7">
                                    <!-- Show only 1 article from the category here -->
                                    <div>
                                        <article class="post type-post panel vstack gap-1 lg:gap-2">
                                            <div class="post-media panel uc-transition-toggle overflow-hidden">
                                                <div class="featured-image bg-gray-25 dark:bg-gray-800 overflow-hidden ratio ratio-16x9">
                                                    <img class="media-cover image uc-transition-scale-up uc-transition-opaque" 
                                                    src="<%= latestNews[0].image_url %>" 
                                                    data-src="<%= latestNews[0].image_url %>" 
                                                    alt="<%= latestNews[0].title %>" 
                                                    data-uc-img="loading: lazy">
                                                </div>
                                                <a href="/articles_details/<%= latestNews[0].id %>" class="position-cover"></a>
                                            </div>
                                            <div class="post-header panel vstack gap-1">
                                                <div class="post-meta panel hstack justify-start gap-1 fs-7 fw-medium text-gray-900 dark:text-white text-opacity-60 d-none md:d-flex z-1">
                                                    <div>
                                                        <div class="post-category hstack gap-narrow fw-medium">
                                                            <a class="text-none text-primary dark:text-white" href="#"><%= latestNews[0].source %></a>
                                                        </div>
                                                    </div>
                                                    <div class="sep d-none md:d-block">❘</div>
                                                    <div class="d-none md:d-block">
                                                        <div class="post-date hstack gap-narrow">
                                                            <span><%= new Date(latestNews[0].published_at).toLocaleDateString() %></span>
                                                        </div>
                                                    </div>
                                                    <div class="cstack w-16px h-16px ms-narrow d-none md:d-inline-flex position-absolute top-0 end-0">
                                                        <a href="#" class="uc-bookmark-toggle w-16px h-16px text-none" data-uc-tooltip="Add to bookmark"><i class="icon-narrow unicon-bookmark-add"></i></a>
                                                    </div>
                                                </div>
                                                <h3 class="post-title h5 lg:h4 m-0 text-truncate-2">
                                                    <a class="text-none hover:text-primary duration-150" href="/articles_details/<%= latestNews[0].id %>"><%= latestNews[0].title %></a>
                                                </h3>
                                               
                                                <p class="fs-6 opacity-80 text-truncate-2 my-1"><%= latestNews[0].content %></p>
                                                <div class="post-meta panel hstack justify-between fs-7 fw-medium text-gray-900 dark:text-white text-opacity-60 d-none md:d-flex">
                                                    <div class="meta">
                                                        <div class="hstack gap-2">
                                                            <div>
                                                                <div class="post-author hstack gap-1">
                                                                    <a href="#" data-uc-tooltip="latestNews[0].source">
                                                                        <% if (latestNews[0].source === 'FrontPageAfrica') { %>
                                                                            <img src="../assets/images/newfpa-logo.png" alt="<%= latestNews[0].author_id %>" class="w-24px h-24px rounded-circle">
                                                                        <% } else if (latestNews[0].source === 'LiberianObserver') { %>
                                                                            <img src="../assets/images/LO.png" alt="<%= latestNews[0].author_id %>" class="w-24px h-24px rounded-circle">
                                                                        <% } else if (latestNews[0].source === 'NewDawn') { %>
                                                                            <img src="../assets/images/newdawn.png" alt="<%= latestNews[0].author_id %>" class="w-24px h-24px rounded-circle">
                                                                        <% } %>
                                                                        
                                                                    </a>
                                                                    <a href="#" class="text-black dark:text-white text-none fw-bold">
                                                                        <%= latestNews[0].source %>
                                                                    </a>
                                                                </div>
                                                                
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="actions">
                                                        <div class="hstack gap-1"></div>
                                                    </div>
                                                </div>
                                            </div>
                                        </article>
                                    </div>
                                </div>
                                <div>
                                    <div class="row child-cols-12 g-4 sep-x">
                                        <!-- Show 5 article here from the category -->
                                        <% for (let i = 1; i < latestNews.length && i < 6; i++) { %>
                                        <div>
                                            <article class="post type-post panel">
                                                <div class="row child-cols g-2" data-uc-grid>
                                                    <div class="col-auto">
                                                        <div class="post-media panel uc-transition-toggle overflow-hidden max-w-150px min-w-100px lg:min-w-150px">
                                                            <div class="featured-image bg-gray-25 dark:bg-gray-800 ratio ratio-16x9">
                                                                <img class="media-cover image uc-transition-scale-up uc-transition-opaque" src="<%= latestNews[i].image_url %>" data-src="<%= latestNews[i].image_url %>" alt="<%= latestNews[i].title %>" data-uc-img="loading: lazy">
                                                            </div>
                                                            <a href="/articles_details/<%= latestNews[i].id %>" class="position-cover"></a>
                                                        </div>
                                                    </div>
                                                    <div>
                                                        <div class="post-header panel vstack justify-between gap-1">
                                                            <div class="post-meta panel hstack justify-start gap-1 fs-7 fw-medium text-gray-900 dark:text-white text-opacity-60 d-none md:d-flex z-1">
                                                                <div>
                                                                    <div class="post-category hstack gap-narrow fw-medium">
                                                                        <a class="text-none text-primary dark:text-white" href="/articles_details/<%= latestNews[i].id %>"><%= latestNews[i].source %></a>
                                                                    </div>
                                                                </div>
                                                                <div class="sep d-none md:d-block">❘</div>
                                                                <div class="d-none md:d-block">
                                                                    <div class="post-date hstack gap-narrow">
                                                                        <span><%= new Date(latestNews[i].published_at).toLocaleDateString() %></span>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <h3 class="post-title h6 lg:h5 m-0 text-truncate-2">
                                                                <a class="text-none hover:text-primary duration-150" href="/articles_details/<%= latestNews[i].id %>"><%= latestNews[i].title %></a>
                                                            </h3>
                                                        </div>    
                                                    </div>
                                                </div>
                                            </article>
                                        </div>
                                        <% } %> 
                                    </div>
                                    <a href="/articles" class="animate-btn gap-0 btn btn-sm btn-alt-primary bg-transparent dark:text-white border w-100 mt-4">
                                        <span>Full Coverage</span>
                                        <i class="icon icon-1 unicon-chevron-right"></i>
                                    </a>
                                </div>
                                <% } else { %>
                                    <p>No articles found in the Top News category.</p>
                                <% } %>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Section end -->

    <!-- Section Major News start -->
    <div class="section panel overflow-hidden">
        <div class="section-outer panel py-5 lg:py-8">
            <div class="container max-w-xl">
                <div class="section-inner">
                    <div class="block-layout grid-layout vstack gap-3 lg:gap-4 panel overflow-hidden">
                        <% if (  majorNews.length > 0) { %>

                        <div class="block-header panel border-top pt-1">
                            <h2 class="h4 xl:h3 -ls-1 xl:-ls-2 m-0 text-inherit hstack gap-1">
                                <span class="panel d-inline-block bg-primary w-8px h-8px translate-y-px"></span>
                                <a class="text-none hover:text-primary duration-150" href="/category/<%=   majorNews[0].category_id %>">Major Headlines</a>
                            </h2>
                        </div>
                        <div class="block-content">
                            <div class="panel row child-cols-12 md:child-cols gy-4 md:gx-3 xl:gx-4">
                                
                                <div class="col-12 md:col-6 lg:col-7">
                                    <!-- Show only 1 article from the category here -->
                                    <div>
                                        <article class="post type-post panel vstack gap-1 lg:gap-2">
                                            <div class="post-media panel uc-transition-toggle overflow-hidden">
                                                <div class="featured-image bg-gray-25 dark:bg-gray-800 overflow-hidden ratio ratio-16x9">
                                                    <img class="media-cover image uc-transition-scale-up uc-transition-opaque" 
                                                    src="<%=   majorNews[0].image_url %>" 
                                                    data-src="<%=   majorNews[0].image_url %>" 
                                                    alt="<%=   majorNews[0].title %>" 
                                                    data-uc-img="loading: lazy">
                                                </div>
                                                <a href="/articles_details/<%=   majorNews[0].id %>" class="position-cover"></a>
                                            </div>
                                            <div class="post-header panel vstack gap-1">
                                                <div class="post-meta panel hstack justify-start gap-1 fs-7 fw-medium text-gray-900 dark:text-white text-opacity-60 d-none md:d-flex z-1">
                                                    <div>
                                                        <div class="post-category hstack gap-narrow fw-medium">
                                                            <a class="text-none text-primary dark:text-white" href="/articles_details/<%= majorNews[0].id %>"><%=   majorNews[0].source %></a>
                                                        </div>
                                                    </div>
                                                    <div class="sep d-none md:d-block">❘</div>
                                                    <div class="d-none md:d-block">
                                                        <div class="post-date hstack gap-narrow">
                                                            <span><%= new Date(  majorNews[0].published_at).toLocaleDateString() %></span>
                                                        </div>
                                                    </div>
                                                    <div class="cstack w-16px h-16px ms-narrow d-none md:d-inline-flex position-absolute top-0 end-0">
                                                        <a href="#" class="uc-bookmark-toggle w-20px h-20px text-none" data-uc-tooltip="Save Article"><i class="icon-narrow unicon-bookmark-add"></i></a>
                                                    </div>
                                                </div>
                                                <h3 class="post-title h5 lg:h4 m-0 text-truncate-2">
                                                    <a class="text-none hover:text-primary duration-150" href="/articles_details/<%= majorNews[0].id %>"><%= majorNews[0].title %></a>
                                                </h3>
                                                <p class="fs-6 opacity-60 text-truncate-2 my-1"><%= truncateText(  majorNews[0].content, 200) %></p>
                                                <div class="post-meta panel hstack justify-between fs-7 fw-medium text-gray-900 dark:text-white text-opacity-60 d-none md:d-flex">
                                                    <div class="meta">
                                                        <div class="hstack gap-2">
                                                            <div class="post-author hstack gap-1">
                                                                <a href="#" data-uc-tooltip="latestNews[0].source">
                                                                    <% if ( majorNews[0].source === 'FrontPageAfrica') { %>
                                                                        <img src="../assets/images/newfpa-logo.png" alt="<%= majorNews[0].author_id %>" class="w-24px h-24px rounded-circle">
                                                                    <% } else if ( majorNews[0].source === 'LiberianObserver') { %>
                                                                        <img src="../assets/images/LO.png" alt="<%=  majorNews[0].author_id %>" class="w-24px h-24px rounded-circle">
                                                                    <% } else if ( majorNews[0].source === 'NewDawn') { %>
                                                                        <img src="../assets/images/newdawn.png" alt="<%=  majorNews[0].author_id %>" class="w-24px h-24px rounded-circle">
                                                                    <% } %>
                                                                </a>
                                                                <a href="#" class="text-black dark:text-white text-none fw-bold">
                                                                    <%= majorNews[0].source %>
                                                                </a>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="actions">
                                                        <div class="hstack gap-1"></div>
                                                    </div>
                                                </div>
                                            </div>
                                        </article>
                                    </div>
                                </div>
                                <div>
                                    <div class="row child-cols-12 g-4 sep-x">
                                        <!-- Show 5 article here from the category -->
                                        <% for (let i = 1; i <   majorNews.length && i < 6; i++) { %>
                                        <div>
                                            <article class="post type-post panel">
                                                <div class="row child-cols g-2" data-uc-grid>
                                                    <div class="col-auto">
                                                        <div class="post-media panel uc-transition-toggle overflow-hidden max-w-150px min-w-100px lg:min-w-150px">
                                                            <div class="featured-image bg-gray-25 dark:bg-gray-800 ratio ratio-16x9">
                                                                <img class="media-cover image uc-transition-scale-up uc-transition-opaque" src="<%=   majorNews[i].image_url %>" data-src="<%=   majorNews[i].image_url %>" alt="<%=   majorNews[i].title %>" data-uc-img="loading: lazy">
                                                            </div>
                                                            <a href="/articles_details/<%=   majorNews[i].id %>" class="position-cover"></a>
                                                        </div>
                                                    </div>
                                                    <div>
                                                        <div class="post-header panel vstack justify-between gap-1">
                                                            <div class="post-meta panel hstack justify-start gap-1 fs-7 fw-medium text-gray-900 dark:text-white text-opacity-60 d-none md:d-flex z-1">
                                                                <div>
                                                                    <div class="post-category hstack gap-narrow fw-medium">
                                                                        <a class="text-none text-primary dark:text-white" href="#"><%=   majorNews[i].source %></a>
                                                                    </div>
                                                                </div>
                                                                <div class="sep d-none md:d-block">❘</div>
                                                                <div class="d-none md:d-block">
                                                                    <div class="post-date hstack gap-narrow">
                                                                        <span><%= new Date(  majorNews[i].published_at).toLocaleDateString() %></span>
                                                                    </div>
                                                                </div>
                                                                <a href="#" class="text-black dark:text-white text-none fw-bold"></a>
                                                                
                                                            </div>
                                                            <h3 class="post-title h6 lg:h5 m-0 text-truncate-2">
                                                                <a class="text-none hover:text-primary duration-150" href="/articles_details/<%=   majorNews[i].id %>"><%=   majorNews[i].title %></a>
                                                            </h3>
                                                        </div>
                                                    </div>
                                                </div>
                                            </article>
                                        </div>
                                        <% } %> 
                                    </div>
                                    <a href="/category/<%=   majorNews[0].category_id %>" class="animate-btn gap-0 btn btn-sm btn-alt-primary bg-transparent dark:text-white border w-100 mt-4">
                                        <span>See Full Coverage</span>
                                        <i class="icon icon-1 unicon-chevron-right"></i>
                                    </a>
                                </div>
                                <% } else { %>
                                    <p>No articles found in the Major Headlines.</p>
                                <% } %>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

  

    <!-- Section start -->
   <!-- Section start -->
    <div class="section panel overflow-hidden">
        <div class="section-outer panel py-4 lg:py-6 dark:text-white">
            <div class="container max-w-xl">
                <div class="section-inner">
                    <div class="row child-cols-12 lg:child-cols g-4 lg:g-6 col-match" data-uc-grid>
                        
                        <!-- Sport -->
                        <div class="lg:col-4">
                            <% if (sportNews.length) { %>
                                <div class="block-layout list-layout vstack gap-2 lg:gap-3 panel overflow-hidden">
                                    <div class="block-header panel pt-1 border-top">
                                        <h2 class="h6 ft-tertiary fw-bold ls-0 text-uppercase m-0 text-black dark:text-white">
                                            <a class="hstack d-inline-flex gap-0 text-none hover:text-primary duration-150" href="/category/<%= sportNews[0].category_id %>">
                                                <span>Sport</span>
                                                <i class="icon-1 fw-bold unicon-chevron-right"></i>
                                            </a>
                                        </h2>
                                    </div>
                                    <div class="block-content">
                                        <div class="row child-cols-12 g-2 lg:g-4 sep-x" data-uc-grid>
                                            <div>
                                                <!-- Show the most recent sports news -->
                                                <article class="post type-post panel uc-transition-toggle vstack gap-2 lg:gap-3 overflow-hidden uc-dark">
                                                    <div class="post-media panel overflow-hidden">
                                                        <div class="featured-image bg-gray-25 dark:bg-gray-800 ratio ratio-4x3">
                                                            <img class="media-cover image uc-transition-scale-up uc-transition-opaque" src="<%= sportNews[0].image_url %>" alt="<%= sportNews[0].title %>" data-uc-img="loading: lazy">
                                                        </div>
                                                    </div>
                                                    <div class="position-cover bg-gradient-to-t from-black to-transparent opacity-90"></div>
                                                    <div class="post-header panel vstack justify-start items-start flex-column-reverse gap-1 p-2 position-cover text-white">
                                                        <div class="post-meta panel hstack justify-between fs-7 text-white text-opacity-60 mt-1">
                                                            <div class="meta">
                                                                <div class="hstack gap-2">
                                                                    <div>
                                                                        <div class="post-author hstack gap-1">
                                                                            <a href="#" data-uc-tooltip="<%= sportNews[0].author %>">
                                                                                <% if (sportNews[0].source === 'FrontPageAfrica') { %>
                                                                                    <img src="../assets/images/newfpa-logo.png" alt="<%= sportNews[0].author_id %>" class="w-24px h-24px rounded-circle">
                                                                                <% } else if (sportNews[0].source === 'LiberianObserver') { %>
                                                                                    <img src="../assets/images/LO.png" alt="<%= sportNews[0].author_id %>" class="w-24px h-24px rounded-circle">
                                                                                <% } else if (sportNews[0].source === 'NewDawn') { %>
                                                                                    <img src="../assets/images/newdawn.png" alt="<%= sportNews[0].author_id %>" class="w-24px h-24px rounded-circle">
                                                                                <% } %>
                                                                            </a>
                                                                            <a href="#" class="text-black dark:text-white text-none fw-bold"><%= sportNews[0].source %></a>
                                                                        </div>
                                                                    </div>
                                                                    <div>
                                                                        <a href="#post_comment" class="post-comments text-none hstack gap-narrow">
                                                                            <i class="icon-narrow unicon-chat"></i>
                                                                            <span><%= sportNews[0].comments_count %></span>
                                                                        </a>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <h3 class="post-title h6 lg:h5 m-0 max-w-600px text-white text-truncate-2">
                                                            <a class="text-none text-white" href="/articles_details/<%= sportNews[0].id %>"><%= sportNews[0].title %></a>
                                                        </h3>
                                                        <div class="post-date hstack gap-narrow fs-7 text-gray-900 dark:text-white text-opacity-60 d-none md:d-flex">
                                                            <span><%= moment(sportNews[0].published_at).fromNow() %></span>
                                                        </div>
                                                    </div>
                                                    <a href="/articles_details/<%= sportNews[0].id %>" class="position-cover"></a>
                                                </article>
                                            </div>

                                            <!-- Loop for displaying the second sports news (up to the 6th most recent) -->
                                            <% if (sportNews.length > 1) { %>
                                                <% for (let i = 1; i < sportNews.length && i <= 6; i++) { %>
                                                    <div>
                                                        <article class="post type-post panel uc-transition-toggle">
                                                            <div class="row child-cols g-2 lg:g-3" data-uc-grid>
                                                                <div>
                                                                    <div class="post-header panel vstack justify-between gap-1">
                                                                        <h3 class="post-title h6 m-0 text-truncate-2">
                                                                            <a class="text-none hover:text-primary duration-150" href="/articles_details/<%= sportNews[i].id %>"><%= sportNews[i].title %></a>
                                                                        </h3>
                                                                        <div class="post-date hstack gap-narrow fs-7 text-gray-900 dark:text-white text-opacity-60 d-none md:d-flex">
                                                                            <span><%= moment(sportNews[i].published_at).fromNow() %></span>
                                                                        </div>
                                                                        <div class="post-author hstack gap-1">
                                                                            <a href="#" data-uc-tooltip="<%= sportNews[i].author %>">
                                                                                <% if (sportNews[i].source === 'FrontPageAfrica') { %>
                                                                                    <img src="../assets/images/newfpa-logo.png" alt="<%= sportNews[i].author_id %>" class="w-24px h-24px rounded-circle">
                                                                                <% } else if (sportNews[i].source === 'LiberianObserver') { %>
                                                                                    <img src="../assets/images/LO.png" alt="<%= sportNews[i].author_id %>" class="w-24px h-24px rounded-circle">
                                                                                <% } else if (sportNews[i].source === 'NewDawn') { %>
                                                                                    <img src="../assets/images/newdawn.png" alt="<%= sportNews[i].author_id %>" class="w-24px h-24px rounded-circle">
                                                                                <% } %>
                                                                            </a>
                                                                            <a href="#" class="text-black dark:text-white text-none "><%= sportNews[i].source %></a>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                                <div class="col-auto">
                                                                    <div class="post-media panel overflow-hidden max-w-72px min-w-72px">
                                                                        <div class="featured-image bg-gray-25 dark:bg-gray-800 ratio ratio-1x1">
                                                                            <img class="media-cover image uc-transition-scale-up uc-transition-opaque" src="<%= sportNews[i].image_url %>" alt="<%= sportNews[i].title %>" data-uc-img="loading: lazy">
                                                                        </div>
                                                                        <a href="/articles_details/<%= sportNews[i].id %>" class="position-cover"></a>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </article>
                                                    </div>
                                                <% } %>
                                            <% } %>
                                        </div>
                                    </div>
                                </div>
                            <% } else { %>
                                <p>No sports news found.</p>
                            <% } %>
                        </div>
                          <!-- Health -->
                          <div class="lg:col-4">
                            <% if (healthNews.length) { %>
                                <div class="block-layout list-layout vstack gap-2 lg:gap-3 panel overflow-hidden">
                                    <div class="block-header panel pt-1 border-top">
                                        <h2 class="h6 ft-tertiary fw-bold ls-0 text-uppercase m-0 text-black dark:text-white">
                                            <a class="hstack d-inline-flex gap-0 text-none hover:text-primary duration-150" href="/category/<%= healthNews[0].category_id %>">
                                                <span>Health</span>
                                                <i class="icon-1 fw-bold unicon-chevron-right"></i>
                                            </a>
                                        </h2>
                                    </div>
                                    <div class="block-content">
                                        <div class="row child-cols-12 g-2 lg:g-4 sep-x" data-uc-grid>
                                            <div>
                                                <!-- Show the most recent health news -->
                                                <article class="post type-post panel uc-transition-toggle vstack gap-2 lg:gap-3 overflow-hidden uc-dark">
                                                    <div class="post-media panel overflow-hidden">
                                                        <div class="featured-image bg-gray-25 dark:bg-gray-800 ratio ratio-4x3">
                                                            <img class="media-cover image uc-transition-scale-up uc-transition-opaque" src="<%= healthNews[0].image_url %>" alt="<%= healthNews[0].title %>" data-uc-img="loading: lazy">
                                                        </div>
                                                    </div>
                                                    <div class="position-cover bg-gradient-to-t from-black to-transparent opacity-90"></div>
                                                    <div class="post-header panel vstack justify-start items-start flex-column-reverse gap-1 p-2 position-cover text-white">
                                                        <div class="post-meta panel hstack justify-between fs-7 text-white text-opacity-60 mt-1">
                                                            <div class="meta">
                                                                <div class="hstack gap-2">
                                                                    <div>
                                                                        <div class="post-author hstack gap-1">
                                                                            <a href="#" data-uc-tooltip="<%= healthNews[0].author %>">
                                                                                <% if (healthNews[0].source === 'FrontPageAfrica') { %>
                                                                                    <img src="../assets/images/newfpa-logo.png" alt="<%= healthNews[0].author_id %>" class="w-24px h-24px rounded-circle">
                                                                                <% } else if (healthNews[0].source === 'LiberianObserver') { %>
                                                                                    <img src="../assets/images/LO.png" alt="<%= healthNews[0].author_id %>" class="w-24px h-24px rounded-circle">
                                                                                <% } else if (healthNews[0].source === 'NewDawn') { %>
                                                                                    <img src="../assets/images/newdawn.png" alt="<%= healthNews[0].author_id %>" class="w-24px h-24px rounded-circle">
                                                                                <% } %>
                                                                                
                                                                            <a href="#" class="text-black dark:text-white text-none fw-bold"><%= healthNews[0].source %></a>
                                                                        </div>
                                                                    </div>
                                                                    <div>
                                                                        <a href="#post_comment" class="post-comments text-none hstack gap-narrow">
                                                                            <i class="icon-narrow unicon-chat"></i>
                                                                            <span><%= healthNews[0].comments_count %></span>
                                                                        </a>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <h3 class="post-title h6 lg:h5 m-0 max-w-600px text-white text-truncate-2">
                                                            <a class="text-none text-white" href="/articles_details/<%= healthNews[0].id %>"><%= healthNews[0].title %></a>
                                                        </h3>
                                                        <div class="post-date hstack gap-narrow fs-7 text-gray-900 dark:text-white text-opacity-60 d-none md:d-flex">
                                                            <span><%= moment(healthNews[0].published_at).fromNow() %></span>
                                                        </div>
                                                    </div>
                                                    <a href="/articles_details/<%= healthNews[0].id %>" class="position-cover"></a>
                                                </article>
                                            </div>

                                            <!-- Loop for displaying additional health news (up to 6) -->
                                            <% if (healthNews.length > 1) { %>
                                                <% for (let i = 1; i < healthNews.length && i <= 3; i++) { %>
                                                    <div>
                                                        <article class="post type-post panel uc-transition-toggle">
                                                            <div class="row child-cols g-2 lg:g-3" data-uc-grid>
                                                                <div>
                                                                    <div class="post-header panel vstack justify-between gap-1">
                                                                        <h3 class="post-title h6 m-0 text-truncate-2">
                                                                            <a class="text-none hover:text-primary duration-150" href="/articles_details/<%= healthNews[i].id %>"><%= healthNews[i].title %></a>
                                                                        </h3>
                                                                        <div class="post-date hstack gap-narrow fs-7 text-gray-900 dark:text-white text-opacity-60 d-none md:d-flex">
                                                                            <span><%= moment(healthNews[i].published_at).fromNow() %></span>
                                                                        </div>
                                                                        <div class="post-author hstack gap-1">
                                                                            <a href="#" data-uc-tooltip="<%= healthNews[0].author %>">
                                                                                <% if (healthNews[i].source === 'FrontPageAfrica') { %>
                                                                                    <img src="../assets/images/newfpa-logo.png" alt="<%= healthNews[i].author_id %>" class="w-24px h-24px rounded-circle">
                                                                                <% } else if (healthNews[i].source === 'LiberianObserver') { %>
                                                                                    <img src="../assets/images/LO.png" alt="<%= healthNews[i].author_id %>" class="w-24px h-24px rounded-circle">
                                                                                <% } else if (healthNews[i].source === 'NewDawn') { %>
                                                                                    <img src="../assets/images/newdawn.png" alt="<%= healthNews[i].author_id %>" class="w-24px h-24px rounded-circle">
                                                                                <% } %>
                                                                                
                                                                            <a href="#" class="text-black dark:text-white text-none fw-normal"><%= healthNews[i].source %></a>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                                <div class="col-auto">
                                                                    <div class="post-media panel overflow-hidden max-w-72px min-w-72px">
                                                                        <div class="featured-image bg-gray-25 dark:bg-gray-800 ratio ratio-1x1">
                                                                            <img class="media-cover image uc-transition-scale-up uc-transition-opaque" src="<%= healthNews[i].image_url %>" alt="<%= healthNews[i].title %>" data-uc-img="loading: lazy">
                                                                        </div>
                                                                        <a href="/articles_details/<%= healthNews[i].id %>" class="position-cover"></a>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </article>
                                                    </div>
                                                <% } %>
                                            <% } %>
                                        </div>
                                    </div>
                                </div>
                            <% } else { %>
                                <p>No health news found.</p>
                            <% } %>
                        </div>
                        

                        <!-- Business -->
                        <div class="lg:col-4">
                            <% if (healthNews.length) { %>
                                <div class="block-layout list-layout vstack gap-2 lg:gap-3 panel overflow-hidden">
                                    <div class="block-header panel pt-1 border-top">
                                        <h2 class="h6 ft-tertiary fw-bold ls-0 text-uppercase m-0 text-black dark:text-white">
                                            <a class="hstack d-inline-flex gap-0 text-none hover:text-primary duration-150" href="/category/<%= businessNews[0].category_id %>">
                                                <span>Business</span>
                                                <i class="icon-1 fw-bold unicon-chevron-right"></i>
                                            </a>
                                        </h2>
                                    </div>
                                    <div class="block-content">
                                        <div class="row child-cols-12 g-2 lg:g-4 sep-x" data-uc-grid>
                                            <div>
                                                <!-- Show the most recent business news -->
                                                <article class="post type-post panel uc-transition-toggle vstack gap-2 lg:gap-3 overflow-hidden uc-dark">
                                                    <div class="post-media panel overflow-hidden">
                                                        <div class="featured-image bg-gray-25 dark:bg-gray-800 ratio ratio-4x3">
                                                            <img class="media-cover image uc-transition-scale-up uc-transition-opaque" src="<%= businessNews[0].image_url %>" alt="<%= businessNews[0].title %>" data-uc-img="loading: lazy">
                                                        </div>
                                                    </div>
                                                    <div class="position-cover bg-gradient-to-t from-black to-transparent opacity-90"></div>
                                                    <div class="post-header panel vstack justify-start items-start flex-column-reverse gap-1 p-2 position-cover text-white">
                                                        <div class="post-meta panel hstack justify-between fs-7 text-white text-opacity-60 mt-1">
                                                            <div class="meta">
                                                                <div class="hstack gap-2">
                                                                    <div>
                                                                        <div class="post-author hstack gap-1">
                                                                            <a href="#" data-uc-tooltip="<%= businessNews[0].author %>">
                                                                                <% if (businessNews[0].source === 'FrontPageAfrica') { %>
                                                                                    <img src="../assets/images/newfpa-logo.png" alt="<%= businessNews[0].author_id %>" class="w-24px h-24px rounded-circle">
                                                                                <% } else if (businessNews[0].source === 'LiberianObserver') { %>
                                                                                    <img src="../assets/images/LO.png" alt="<%= businessNews[0].author_id %>" class="w-24px h-24px rounded-circle">
                                                                                <% } else if (businessNews[0].source === 'NewDawn') { %>
                                                                                    <img src="../assets/images/newdawn.png" alt="<%= businessNews[0].author_id %>" class="w-24px h-24px rounded-circle">
                                                                                <% } %>
                                                                            </a>
                                                                            <a href="#" class="text-black dark:text-white text-none fw-bold"><%= businessNews[0].source %></a>
                                                                        </div>
                                                                    </div>
                                                                    <div>
                                                                        <a href="#post_comment" class="post-comments text-none hstack gap-narrow">
                                                                            <i class="icon-narrow unicon-chat"></i>
                                                                            <span><%= businessNews[0].comments_count %></span>
                                                                        </a>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <h3 class="post-title h6 lg:h5 m-0 max-w-600px text-white text-truncate-2">
                                                            <a class="text-none text-white" href="/articles_details/<%= businessNews[0].id %>"><%= businessNews[0].title %></a>
                                                        </h3>
                                                        <div class="post-date hstack gap-narrow fs-7 text-gray-900 dark:text-white text-opacity-60 d-none md:d-flex">
                                                            <span><%= moment(businessNews[0].published_at).fromNow() %></span>
                                                        </div>
                                                    </div>
                                                    <a href="/articles_details/<%= businessNews[0].id %>" class="position-cover"></a>
                                                </article>
                                            </div>

                                            <!-- Loop for displaying the second business news (up to the 6th most recent) -->
                                            <% if (businessNews.length > 1) { %>
                                                <% for (let i = 1; i < businessNews.length && i <= 3; i++) { %>
                                                    <div>
                                                        <article class="post type-post panel uc-transition-toggle">
                                                            <div class="row child-cols g-2 lg:g-3" data-uc-grid>
                                                                <div>
                                                                    <div class="post-header panel vstack justify-between gap-1">
                                                                        <h3 class="post-title h6 m-0 text-truncate-2">
                                                                            <a class="text-none hover:text-primary duration-150" href="/articles_details/<%= businessNews[i].id %>"><%= businessNews[i].title %></a>
                                                                        </h3>
                                                                        <div class="post-date hstack gap-narrow fs-7 text-gray-900 dark:text-white text-opacity-60 d-none md:d-flex">
                                                                            <span><%= moment(businessNews[i].published_at).fromNow() %></span>
                                                                        </div>
                                                                        <div class="post-author hstack gap-1">
                                                                            <a href="#" data-uc-tooltip="<%= businessNews[0].author %>">
                                                                                <% if (businessNews[0].source === 'FrontPageAfrica') { %>
                                                                                    <img src="../assets/images/newfpa-logo.png" alt="<%= businessNews[i].author_id %>" class="w-24px h-24px rounded-circle">
                                                                                <% } else if (businessNews[i].source === 'LiberianObserver') { %>
                                                                                    <img src="../assets/images/LO.png" alt="<%= businessNews[i].author_id %>" class="w-24px h-24px rounded-circle">
                                                                                <% } else if (businessNews[i].source === 'NewDawn') { %>
                                                                                    <img src="../assets/images/newdawn.png" alt="<%= businessNews[0].author_id %>" class="w-24px h-24px rounded-circle">
                                                                                <% } %>
                                                                            </a>
                                                                            <a href="#" class="text-black dark:text-white text-none "><%= businessNews[i].source %></a>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                                <div class="col-auto">
                                                                    <div class="post-media panel overflow-hidden max-w-72px min-w-72px">
                                                                        <div class="featured-image bg-gray-25 dark:bg-gray-800 ratio ratio-1x1">
                                                                            <img class="media-cover image uc-transition-scale-up uc-transition-opaque" src="<%= businessNews[i].image_url %>" alt="<%= businessNews[i].title %>" data-uc-img="loading: lazy">
                                                                        </div>
                                                                        <a href="/articles_details/<%= businessNews[i].id %>" class="position-cover"></a>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </article>
                                                    </div>
                                                <% } %>
                                            <% } %>
                                        </div>
                                    </div>
                                </div>
                            <% } else { %>
                                <p>No business news found.</p>
                            <% } %>
                        </div>

                      


                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Section Ends -->

 
    <!-- Section end -->

    <!-- Section start -->
    <div class="section panel overflow-hidden">
        <div class="section-outer panel pt-5 lg:pt-8">
            <div class="container max-w-xl">
                <div class="section-inner">
                    <!-- <a class="text-none" href="https://themeforest.net/user/reacthemes/portfolio" target="_blank" rel="nofollow">
                        <img class="d-none md:d-block" src="../assets/images/common/ad-slot-2.jpg" alt="Ad slot">
                        <img class="d-block md:d-none" src="../assets/images/common/ad-slot-mobile-2.jpg" alt="Ad slot">
                    </a> -->
                </div>
            </div>
        </div>
    </div>

    <!-- Section start -->

    <!-- Section start -->
   
    <!-- Section end -->
</div>

<!-- Wrapper end -->